<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }} | hammynet</title>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Source+Sans+Pro" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1"/>
    <link href="/assets/style.css?1" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="header padded">
        <a href="/" class="header-link"><span class="title">Hammynet</span></a>
    </div>
    <div class="content padded">
        {{ content }}
    </div>
    <div class="footer">
        <p>Copyleft <span class="copyleft">&copy;</span> <a href="https://hamptonmoore.com" target="_blank">Hampton Moore</a>,
            no rights reserved. Assets have their own licenses.</p>
    </div>
</div>

</body>


</html>
